<?xml version="1.0"?>
<config>
    <modules>
        <RicardoMartins_PagBank>
            <version>1.0.0</version>
        </RicardoMartins_PagBank>
    </modules>
    <default>
        <payment>
            <ricardomartins_pagbank>
                <document_from>taxvat</document_from>
                <stc_mirror>1</stc_mirror>
                <jsdelivr_enabled>0</jsdelivr_enabled>
                <jsdelivr_minify>0</jsdelivr_minify>
                <debug>1</debug>
            </ricardomartins_pagbank>
            <ricardomartins_pagbank_cc>
                <active>1</active>
                <title>Cartão de Crédito - PagBank</title>
                <sort_order>1</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagbank/method_cc</model>
                <soft_descriptor>Compra Via PagBank</soft_descriptor>
                <cc_3ds>1</cc_3ds>
                <cc_3ds_allow_continue>0</cc_3ds_allow_continue>
                <flag>42x20</flag>
            </ricardomartins_pagbank_cc>
            <ricardomartins_pagbank_billet>
                <active>1</active>
                <title>Boleto - PagBank</title>
                <sort_order>2</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagbank/method_billet</model>
                <expiration_time>3</expiration_time>
            </ricardomartins_pagbank_billet>
            <ricardomartins_pagbank_pix>
                <active>1</active>
                <title>Pix - PagBank</title>
                <sort_order>3</sort_order>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_action>order</payment_action>
                <model>ricardomartins_pagbank/method_pix</model>
                <expiration_time>60</expiration_time>
            </ricardomartins_pagbank_pix>
        </payment>
    </default>
    <global>
        <models>
            <ricardomartins_pagbank>
                <class>RicardoMartins_PagBank_Model</class>
            </ricardomartins_pagbank>
        </models>
        <blocks>
            <ricardomartins_pagbank>
                <class>RicardoMartins_PagBank_Block</class>
            </ricardomartins_pagbank>
        </blocks>
        <helpers>
            <ricardomartins_pagbank>
                <class>RicardoMartins_PagBank_Helper</class>
            </ricardomartins_pagbank>
        </helpers>
        <events>
            <admin_system_config_changed_section_payment>
                <observers>
                    <ricardomartins_pagbank>
                        <class>ricardomartins_pagbank/observer</class>
                        <method>generatePublicKey</method>
                    </ricardomartins_pagbank>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </global>
    <frontend>
        <routers>
            <ricardomartins_pagbank>
                <use>standard</use>
                <args>
                    <module>RicardoMartins_PagBank</module>
                    <frontName>pagbank</frontName>
                </args>
            </ricardomartins_pagbank>
        </routers>
        <layout>
            <updates>
                <ricardomartins_pagbank>
                    <file>ricardomartins/pagbank/payments.xml</file>
                </ricardomartins_pagbank>
            </updates>
        </layout>
        <translate>
            <modules>
                <ricardomartins_pagbank>
                    <files>
                        <default>RicardoMartins_PagBank.csv</default>
                    </files>
                </ricardomartins_pagbank>
            </modules>
        </translate>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <ricardomartins_pagbank>
                        <type>model</type>
                        <class>ricardomartins_pagbank/observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </ricardomartins_pagbank>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <ricardomartins_pagbank>
                        <type>model</type>
                        <class>ricardomartins_pagbank/observer</class>
                        <method>paymentInfoBlockPrepareSpecificInformation</method>
                    </ricardomartins_pagbank>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </adminhtml>
</config>