<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <payment>
            <groups>
                <ricardomartins_pagbank translate="label comment" module="ricardomartins_pagbank">
                    <label>PagBank - Ricardo Martins</label>
                    <comment><![CDATA[A forma mais fácil e segura de receber pagamentos. Uma solução completa para que você ofereça de forma simples e transparente o processamento dos pedidos em seu site. <br>
                            Para utilizar o PagBank Connect, você precisa autorizar nossa aplicação e obter suas credenciais connect.<br />
                            <a href="https://pbintegracoes.com/connect/autorizar?utm_source=magentoadmin" target="_blank" class="button action-link secondary">Obter Connect Key</a> |
                            <a href="https://pbintegracoes.com/connect/sandbox?utm_source=magentoadmin" target="_blank" class="button action-link secondary">Obter Connect Key para Testes</a> |
                            <a href="https://ajuda.pbintegracoes.com/hc/pt-br/?utm_source=magentoadmin" target="_blank" class="button action-link secondary">Obter ajuda</a>]]></comment>
                    <sort_order>6</sort_order>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <connect_key translate="label">
                            <label>Connect Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><model>ricardomartins_pagbank/system_config_comment</model></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </connect_key>
                        <document_from translate="label">
                            <label>Get Document From</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ricardomartins_pagbank/system_config_source_customer_document</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </document_from>
                        <placeorder_button>
                            <label>CSS Identifier Checkout Button</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Alguns eventos precisam ser disparados no momento da finalização da compra. Se você usa um checkout customizado, considere adicionar o identificador do seu botão de checkout. Deixe em branco se não souber. <a href="//pagsegurotransparente.zendesk.com/hc/pt-br/articles/360039820711" target="_blank">Saiba mais.</a>]]></comment>
                            <tooltip><![CDATA[Exemplos: <br/>por classe css: .btn-checkout <br/>por id: #btn-checkout. Você pode informar mais de um, separados por vírgula.]]></tooltip>
                        </placeorder_button>
                        <hash_email_active>
                            <label>Use hash@pagbankconnect.pag instead of the buyer's email</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <tooltip>Using this feature can increase the number of denied orders and also prevents PagBank from sending emails about the order to the customer.</tooltip>
                            <comment>Converts the buyer's email to hash@pagbankconnect.pag.</comment>
                        </hash_email_active>
                        <hide_order_items>
                            <label>Hide order items</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>36</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Hide order items in the payment request sent to PagBank (required in credit card transactions).</comment>
                        </hide_order_items>
                        <stc_mirror>
                            <label>Use secondary CDN for static files?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[
                            Ao habilitar esta opção, os arquivos estáticos do PagBank passam a ser chamados a partir de um CDN secundário. Recomendável para maior estabilidade e performance. <a href="//pagsegurotransparente.zendesk.com/hc/pt-br/articles/360061203711" target="_blank">Saiba mais</a>.
                            ]]></comment>
                            <tooltip>Os arquivos de stc.pagseguro.uol.com.br passarão a ser servidos à partir de stcpagseguro.ricardomartins.net.br.</tooltip>
                        </stc_mirror>
                        <jsdelivr_enabled>
                            <label>Use CDN for JS delivery?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Use o JsDelivr.com para entregar o Js do módulo mais rapidamente para seus clientes e eventualmente carregar do cache. Desabilite esta opção para usar seu próprio servidor.</comment>
                        </jsdelivr_enabled>
                        <jsdelivr_minify>
                            <label>Minify JS on CDN?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <jsdelivr_enabled>1</jsdelivr_enabled>
                            </depends>
                        </jsdelivr_minify>
                        <debug translate="label">
                            <label>Enable Debug</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Veja a saída de log em var/log/pagbank.log. É recomendável habilitar o log para obter informações sobre eventuais problemas.</comment>
                        </debug>
                    </fields>
                </ricardomartins_pagbank>
                <ricardomartins_pagbank_cc translate="label comment" module="ricardomartins_pagbank">
                    <label>PagBank - Credit Card - Ricardo Martins</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>7</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>Adjust this to move the payment method above or below other payment methods</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sort_order>
                        <soft_descriptor translate="label">
                            <label>Soft Descriptor</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </soft_descriptor>
                        <cc_3ds translate="label">
                            <label>Enable 3DS Authentication</label>
                            <comment><![CDATA[Habilita a autenticação 3D Secure para compras com cartão de crédito. <br/> A autenticação 3D Secure é um protocolo de segurança que adiciona uma camada extra de proteção para compras online, <br/> e evita que chargebacks de compras não reconhecidas sejam cobrados do lojista. <br/>Para mais informações, consulte a <a href="https://pagsegurotransparente.zendesk.com/hc/pt-br/articles/22375922278157-Autentica%C3%A7%C3%A3o-3DS-Sua-prote%C3%A7%C3%A3o-contra-Chargeback" target="_blank">documentação</a>.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </cc_3ds>
                        <cc_3ds_allow_continue translate="label">
                            <label>Allow order completion when 3DS is not supported</label>
                            <comment><![CDATA[Alguns cartões não possuem suporte a autenticação 3D. <br/>Ao marcar esta opção, o cliente poderá concluir a compra mesmo que o cartão não suporte tal recurso ou se a obtenção da sessão 3D Secure junto ao PagBank falhar.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                                <cc_3ds>1</cc_3ds>
                            </depends>
                        </cc_3ds_allow_continue>
                        <installments_options translate="label">
                            <label>Installment Options</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ricardomartins_pagbank/system_config_source_order_installments</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </installments_options>
                        <installments_options_fixed translate="label">
                            <label>Number of Interest-Free Installments</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <installments_options>fixed</installments_options>
                            </depends>
                        </installments_options_fixed>
                        <installments_options_min_total translate="label">
                            <label>Minimum Interest-Free Installment Value</label>
                            <comment><![CDATA[Valor inteiro sem decimais. Exemplo: 10 para R$ 10,00.<small>Neste exemplo, um pedido de R$100 poderá ser parcelado em 10x sem juros.
                                        Taxa padrão de juros: 2,99% a.m (consulte valor atualizado).</small>]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <installments_options>min_total</installments_options>
                            </depends>
                        </installments_options_min_total>
                        <enable_installments_limit translate="label">
                            <label>Limit installments</label>
                            <comment>Recomendação: Não impeça que seu cliente compre com parcelamento alto mesmo que queira pagar os juros. Não há custo maior para você.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </enable_installments_limit>
                        <installments_limit translate="label">
                            <label>Maximum Number of Installments</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <enable_installments_limit>1</enable_installments_limit>
                            </depends>
                        </installments_limit>
                    </fields>
                </ricardomartins_pagbank_cc>
                <ricardomartins_pagbank_billet translate="label comment" module="ricardomartins_pagbank">
                    <label>PagBank - Billet - Ricardo Martins</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>8</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>Adjust this to move the payment method above or below other payment methods</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sort_order>
                        <expiration_time translate="label">
                            <label>Boleto expires in (days)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </expiration_time>
                        <instruction_line_one translate="label">
                            <label>Instructions (line one)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </instruction_line_one>
                        <instruction_line_two translate="label">
                            <label>Instructions (line two)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </instruction_line_two>
                    </fields>
                </ricardomartins_pagbank_billet>
                <ricardomartins_pagbank_pix translate="label comment" module="ricardomartins_pagbank">
                    <label>PagBank - Pix - Ricardo Martins</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <comment>Adjust this to move the payment method above or below other payment methods</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sort_order>
                        <expiration_time translate="label">
                            <label>PIX Expiration Time (minutes)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </expiration_time>
                    </fields>
                </ricardomartins_pagbank_pix>
            </groups>
        </payment>
    </sections>
</config>