.ricardomartins-pagbank-cc .ricardomartins-pagbank-cc-exp-cvv-row {
    display: flex;
    column-gap: 5px;
}

.ricardomartins-pagbank-cc-exp-cvv-row .input-text {
    width: 180px;
}

.form-list.ricardomartins-pagbank input,
.form-list.ricardomartins-pagbank select {
    height: 30px;
    border-radius: 2px;
    border: 1px solid silver;
    background: #FFFFFF;
    font-size: 15px;
}

.ricardomartins-pagbank-success {
    max-width: 100%;
    margin: 30px auto;
}

.ricardomartins-pagbank-success .code-container {
    margin-bottom: 30px;
}

.code-container .code-content > span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-content .copy-btn {
    width: 35px;
    cursor: pointer;
}

.code-content .copied {
    display: none;
    color: green;
    margin-bottom: 0;
    margin-left: 5px;
}

.code-content .payment-code {
    width: 400px;
    max-width: 100%;
}

.pix-qr-container {
    max-width: 200px;
    margin: 15px auto;
}

.pix-qr-container img {
    max-width: 100%;
}

.billet-container {
    margin-bottom: 30px;
}

.checkout-onepage-success .ricardomartins-pagbank-success {
    order: 1;
}
.checkout-onepage-success .buttons-set {
    order: 2;
}
.checkout-onepage-success .col-main {
    display: grid;
}
